.authorQuotes section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .authorQuotes section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .authorQuotes section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.win-item {
    background: rgba(4, 81, 140, .3);
}

#authorsQuotesContainer {
    width:70%;
    height:60%;    
    position:relative;
    font-size:18px;
    font-weight:bold;
}
#quote-container {
    position:absolute;
    top:5%;
}
#author-container {
    position:absolute;
    bottom: 5%;
    right:5%;
}