<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d7344793-379f-4af9-83b1-9999fcc6787e" Version="1.0.0.0" Publisher="CN=StefanPU" />
  <Properties>
    <DisplayName>Quotes</DisplayName>
    <PublisherDisplayName>StefanPU</PublisherDisplayName>
    <Logo>images\store.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Известни цитати" Logo="images/logo.png" SmallLogo="images\small.png" Description="Цитати от известни личности" ForegroundText="light" BackgroundColor="#080A45">
        <DefaultTile ShowName="allLogos" WideLogo="images\wide.png" />
        <SplashScreen Image="images/splash.png" BackgroundColor="#080A45" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="favorites">
            <SupportedFileTypes>
              <FileType>.txt</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.shareTarget" StartPage="pages\shareContent\shareTarget.html">
          <ShareTarget>
            <DataFormat>text</DataFormat>
            <DataFormat>uri</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>