html, body {
    background-color: #003056;
	color: #F2D03B;
}

div #lettersListTemplate > div{
	width:100%;
	height:100%;
}

#quote-container{
	margin:1%;
	padding:1%;
}

#author-container{
	margin:1%;
	padding:1%;
}

div #dailyQuote{
	width:25%;
	height:25%;
    margin:1%;
    padding:1%;
	background-color:#04518C;
	color: #F2D03B;
}

div #randomList .win-container{
	width:100%;
	height:100%;
	background-color:#04518C;
}

.win-flipview {
    width:1000px;
}

#contenthost {
    height: 100%;
    width: 100%;
}

.win-listview:not(.win-selectionstylefilled) .win-container.win-selected .win-selectionborder {
    border-color: #008EBF;
}

.win-listview.win-selectionstylefilled .win-selected .win-selectionbackground {
    border-color: #008EBF;
}

.win-listview.win-selectionstylefilled .win-selected:hover .win-selectionbackground {
    background-color: #47D9BF;
}

.win-listview:not(.win-selectionstylefilled) .win-container.win-selected:hover .win-selectionborder {
    border-color: #47D9BF;
}

.win-ui-light .win-selectionhint {
    color: #008EBF;
}
.win-listview:not(.win-selectionstylefilled) .win-selectioncheckmarkbackground {
    border-top-color: #008EBF;
    border-right-color: #008EBF;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.win-listview:not(.win-selectionstylefilled) .win-container.win-selected:hover .win-selectioncheckmarkbackground {
    border-top-color: #47D9BF;
    border-right-color: #47D9BF;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
        -ms-grid-columns: 39px 81px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-backbutton {
            -ms-grid-column: 2;
            margin-top: 59px;
			color: #F2D03B;
			border-color: #F2D03B;
        }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 3;
            margin-top: 37px;
        }

            .fragment header[role=banner] .titlearea .pagetitle {
                width: calc(100% - 20px);
            }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
        display:inline-block;
    }
	
	 .fragment section[role=main] > p  {
        width:25%;
		height:25%;
		display:inline-block;
		text-align:center;
		background-color:#04518C;
		margin:1%;
		padding:1%;
    }
	
	 .fragment section[role=main] > p > a {
        position:relative;
		top: 45%;
		color:#F2D03B;
		font-size:20px;
        font-weight:bold;
		text-decoration: none;
    }

#navbar {
    background-color: #03abe2;
}

@media screen and (-ms-view-state: snapped) {
    .fragment header[role=banner] {
        -ms-grid-columns: auto 1fr;
        margin-left: 15px;
        margin-right: 15px;
    }

        .fragment header[role=banner] .win-backbutton {
            -ms-grid-column: 1;
            margin-bottom: 0;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 76px;
			color: #F2D03B;
			border-color: #F2D03B;
        }

            .fragment header[role=banner] .win-backbutton:disabled {
                display: none;
            }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-bottom: 0;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 68px;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .fragment header[role=banner] {
        -ms-grid-columns: 29px 71px 1fr;
    }
}
