.categories section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .categories section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .categories section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}
#categoriesList-container {
    width: 120px;
    height:80px;
    margin: 5px;
    -ms-grid-column: 1;

}