.letters section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .letters section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .letters section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}

#letters-container{
    height:100px;
    width:100px;
    margin: 5px;
    border:none;
    -ms-grid-column: 1;
}

.win-listview :not(.win-footprint).win-container {
    background: rgba(4, 81, 140, .3);
}

#letters-container > div{
    margin:1%;
    padding:1%;
    height:100%;
    width:100%;
    font-size:20px;
    font-weight: bold;
    text-align:center;
    position:relative;
	top: 35%;
}


.win-listview {
    overflow: hidden;
    height: 600px;
}

